table, td, th {
    border: 1px solid black;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th {
    height: 70px;
  }
  th{
    color: green;
    background-color: yellow;
  }
  *{
    margin: 5px;
    padding: 5px;
  }